ngx-avatar {
	display: inline-block;
}

input {
	width: 90%;
}

mat-form-field {
	margin-right: 12px;
}

.detail-form {
	width: 70%;
}

.mat-card {
	border-style: none;
	border: none;
	box-shadow: none;
}
