<h3>{{'matchday' | translate}} <small *ngIf="matchday">{{matchday.date | date}}</small></h3>

<div class="main-container">
    <mat-drawer-container>
        <mat-toolbar>
            <div class="button-row" *ngIf="matchday">
                <button mat-raised-button color="basic" (click)="addRemovePlayers()" [disabled]="matchday.isFinished">{{'addRemovePlayers' | translate}}</button>
                <button mat-raised-button color="primary" (click)="nextGame()" [disabled]="matchday.isFinished">{{'nextGame' | translate}} </button>
                <button mat-raised-button color="accent" (click)="finishMatchday()" [disabled]="matchday.isFinished">{{'finishMatchday' | translate}}</button>
            </div>
        </mat-toolbar>
        <app-game-table *ngIf="matchday && matchday.isFinished"></app-game-table>
        <mat-card *ngFor="let game of activeGames">
            <form>
                <mat-form-field>
                    <input matInput #playerOnePoints value="0"
                        placeholder="{{game.playerOne.firstName | uppercase}} {{game.playerOne.lastName}} ({{game.playerOneRequiredPoints}})">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #playerTwoPoints value="0"
                        placeholder="{{game.playerTwo.firstName | uppercase}} {{game.playerTwo.lastName}}  ({{game.playerTwoRequiredPoints}})">
                </mat-form-field>
                <button mat-raised-button color="primary"
                    (click)="saveGame(game.id,playerOnePoints.value,playerTwoPoints.value,game)">{{'save' | translate}}</button>
            </form>
        </mat-card>
        <mat-drawer *ngIf="matchday && !matchday.isFinished" #drawer mode="side" position="end" opened>
            <mat-card *ngFor="let game of finishedGames">
                <p>
                    <span [ngClass]="{won: isWinner(game, game.playerOne)}">{{game.playerOne.firstName | uppercase}}
                        {{game.playerOne.lastName}} </span>
                    <span class="points">{{game.playerOnePoints}} </span>
                    <span>({{game.playerOneRequiredPoints}}) </span>
                    <span> : </span>
                    <span class="points">{{game.playerTwoPoints}} </span>
                    <span>({{game.playerTwoRequiredPoints}}) </span>
                    <span [ngClass]="{won: isWinner(game, game.playerTwo)}">{{game.playerTwo.firstName | uppercase}}
                        {{game.playerTwo.lastName}} </span>
                </p>
            </mat-card>
        </mat-drawer>
    </mat-drawer-container>
</div>