<h3>{{'matchday' | translate}} <small *ngIf="matchday">{{matchday.date | date}}</small></h3>

<app-game-table *ngIf="matchday && matchday.isFinished"></app-game-table>
<div class="main-container">
    <mat-toolbar *ngIf="matchday && !matchday.isFinished"
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div >
            <ul class="navbar-nav flex-grow">
                <li class="nav-item">
                    <a mat-stroked-button color="basic" (click)="addRemovePlayers()" class="nav-item"
                        [disabled]="matchday.isFinished">{{'addRemovePlayers' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a mat-stroked-button color="primary" (click)="nextGame()" class="nav-item"
                        [disabled]="matchday.isFinished">{{'nextGame' | translate}} </a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
            *ngIf="matchday && !matchday.isFinished">
            <ul class="navbar-nav flex-grow">
                <li class="nav-item">
                    <button mat-stroked-button color="accent" (click)="finishMatchday()" class="nav-item"
                        [disabled]="matchday.isFinished">{{'finishMatchday' | translate}}</button>
                </li>
            </ul>
        </div>
    </mat-toolbar>
    <mat-drawer-container>
        <h4>{{'activeGames' | translate}}</h4>
        <mat-card *ngFor="let game of activeGames">
            <mat-card-subtitle *ngIf="game.type==7" class="tenball">{{'gameType.tenBall.long' | translate}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="game.type==8" class="eightball">{{'gameType.eightBall.long' | translate}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="game.type==9" class="nineball">{{'gameType.nineBall.long' | translate}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="game.type==100" class="straightpool">{{'gameType.straightPool.long' | translate}}</mat-card-subtitle>
            <form>
                <mat-form-field>
                    <mat-label><b>({{game.playerOneRequiredPoints}})</b> {{game.playerOne.firstName | uppercase}}
                        {{game.playerOne.lastName}}</mat-label>
                    <input matInput #playerOnePoints value="0">
                </mat-form-field>
                <mat-form-field>
                    <mat-label><b>({{game.playerTwoRequiredPoints}})</b> {{game.playerTwo.firstName | uppercase}}
                        {{game.playerTwo.lastName}}</mat-label>
                    <input matInput #playerTwoPoints value="0">
                </mat-form-field>
                <button mat-stroked-button color="primary"
                    (click)="saveGame(game.id,playerOnePoints.value,playerTwoPoints.value,game)">{{'save' | translate}}</button>
            </form>
        </mat-card>
        <mat-drawer *ngIf="matchday && !matchday.isFinished" #drawer mode="side" position="end" opened>
            <h4>{{'finishedGames' | translate}} </h4>
            <mat-card *ngFor="let game of finishedGames">
                <mat-card-header class="title">
                    <div mat-card-avatar *ngIf="game.type==7">
                        <ngx-avatar value="{{'gameType.tenBall.short' | translate}}" bgColor="#00796B"></ngx-avatar>
                    </div>
                    <div mat-card-avatar *ngIf="game.type==8">
                        <ngx-avatar value="{{'gameType.eightBall.short' | translate}}" bgColor="#455A64"></ngx-avatar>
                    </div>
                    <div mat-card-avatar *ngIf="game.type==9">
                        <ngx-avatar value="{{'gameType.nineBall.short' | translate}}" bgColor="#E64A19"></ngx-avatar>
                    </div>
                    <div mat-card-avatar *ngIf="game.type==100">
                        <ngx-avatar value="{{'gameType.straightPool.short' | translate}}" bgColor="#d32f2f"></ngx-avatar>
                    </div>
                    <mat-card-title class="title">
                        {{game.playerOnePoints}} : {{game.playerTwoPoints}} 
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span matTooltip="{{game.playerOne.firstName}} {{game.playerOne.lastName}}">
                            {{game.playerOne.firstName | uppercase }} {{game.playerOne.lastName[0]}}. - </span>
                        <span matTooltip="{{game.playerTwo.firstName}} {{game.playerTwo.lastName}}">
                            {{game.playerTwo.firstName | uppercase }} {{game.playerTwo.lastName[0]}}.</span>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-drawer>
    </mat-drawer-container>
</div>