table {
  width: 100%;
}

mat-drawer {
  width: 30%;
  height: 100%;
  padding: 20px;
}

mat-card {
    border-radius: 0px;
}

mat-drawer-container,
mat-drawer-content {
  display: block;
  height: 90vh;
  background-color: transparent;
}

mat-form-field {
	margin-right: 12px;
}
