/* You can add global styles to this file, and also import other style files */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mat-spinner {
  margin: 0 auto;
}

.eightball {
  color: #455a64;
}

.nineball {
  color: #e64a19;
}

.tenball {
  color: #00796b;
}

.straightpool {
  color: #d32f2f;
}

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}