table {
  width: 100%;
}

.points {
  font-size: 1.2em;
}

.won {
  outline-width: 4px;
  outline-style: solid;
  outline-color: #536dfe;
  outline-offset: -4px;
  /* border-style: solid;
  border-width: 4px;
  border-color: #536dfe; */
}

.lost {
  border-style: solid;
  border-width: 2px;
  border-color: palevioletred;
}